
<div id="activity" class="mb-3">
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="d-flex justify-content-between">
          <h4 style="font-weight: 500; color: blueviolet">Activity</h4>
          <h6 class="mt-2">View Timeline / Filter Activities</h6>
        </div>
      </div>
    </div>
    <hr />
    <div class="row mb-3">
      <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-fluid rounded-0" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-inline">
            <p>
              <span class="mx-1" style="font-size: large; font-weight: 500">Miranda Kale</span>
              <span class="card-text">commented</span>
            </p>
          </div>
          <p class="card-text mb-0">
            This is a wider card with supporting text below.
          </p>
          <p class="card-text"><small class="text-muted">3 mins ago</small></p>
        </div>
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1499952127939-9bbf5af6c51c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80" class="img-fluid rounded-0" />
      </div>
    
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-inline">
            <p>
              <span class="mx-1" style="font-size: large; font-weight: 500">Clara Catalina</span>
              <span class="card-text">commented</span>
            </p>
          </div>
          <p class="card-text mb-0">
            This is a wider card with supporting text below.
          </p>
          <p class="card-text"><small class="text-muted">3 mins ago</small></p>
        </div>
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1153&q=80" class="img-fluid rounded-0" />
      </div>
    
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-inline">
            <p>
              <span class="mx-1" style="font-size: large; font-weight: 500">Amanda Blair</span>
              <span class="card-text">commented</span>
            </p>
          </div>
          <p class="card-text mb-0">
            This is a wider card with supporting text below.
          </p>
          <p class="card-text"><small class="text-muted">3 mins ago</small></p>
        </div>
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1573140247632-f8fd74997d5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-fluid rounded-0" />
      </div>
    
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-inline">
            <p>
              <span class="mx-1" style="font-size: large; font-weight: 500">Alice Caroline</span>
              <span class="card-text">commented</span>
            </p>
          </div>
          <p class="card-text mb-0">
            This is a wider card with supporting text below.
          </p>
          <p class="card-text"><small class="text-muted">3 mins ago</small></p>
        </div>
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1664575195621-a5f347e67554?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" class="img-fluid rounded-0" />
      </div>
    
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-inline">
            <p>
              <span class="mx-1" style="font-size: large; font-weight: 500">Bella Amelia</span>
              <span class="card-text">commented</span>
            </p>
          </div>
          <p class="card-text mb-0">
            This is a wider card with supporting text below.
          </p>
          <p class="card-text"><small class="text-muted">3 mins ago</small></p>
        </div>
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-fluid rounded-0" />
      </div>
    
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-inline">
            <p>
              <span class="mx-1" style="font-size: large; font-weight: 500">John Stainlor</span>
              <span class="card-text">commented</span>
            </p>
          </div>
          <p class="card-text mb-0">
            This is a wider card with supporting text below.
          </p>
          <p class="card-text"><small class="text-muted">3 mins ago</small></p>
        </div>
      </div>
    </div>
    
    <hr />
  </div>
  
  
  <div id="channel" class="mb-3">
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="d-flex justify-content-between">
          <h4 style="font-weight: 500; color: blueviolet">Channels</h4>
          <h6 class="mt-2">Browse all channels</h6>
        </div>
      </div>
    </div>
    <hr />
  
    <div class="row mb-3">
  
      <div class="col-lg-6">
        <div class="card text-bg-dark border border-0 rounded-0 mb-3">
          <img src="https://images.unsplash.com/photo-1529612700005-e35377bf1415?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="image" class="card-img">
          <div class="card-img-overlay">
            <h4 style="margin-top: 5.5rem;">Google</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card text-bg-dark border border-0 rounded-0 mb-3">
          <img src="https://images.unsplash.com/photo-1649091245826-6f9a6e2b9268?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1162&q=80" alt="image" class="card-img">
          <div class="card-img-overlay">
            <h4 style="margin-top: 5.5rem;">Dribble</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card text-bg-dark border border-0 rounded-0 mb-3">
          <img src="https://images.unsplash.com/photo-1640763502425-7668dc1e4023?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="image" class="card-img">
          <div class="card-img-overlay">
            <h4 style="margin-top: 5.5rem;">Microsoft</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card text-bg-dark border border-0 rounded-0 mb-3">
          <img src="https://images.unsplash.com/photo-1649091245811-e4f8fe9b9cd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1162&q=80" alt="image" class="card-img">
          <div class="card-img-overlay">
            <h4 style="margin-top: 5.5rem;">Behance</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card text-bg-dark border border-0 rounded-0 mb-3">
          <img src="https://images.unsplash.com/photo-1530563885674-66db50a1af19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="image" class="card-img">
          <div class="card-img-overlay">
            <h4 style="margin-top: 5.5rem;">Weather Channel</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card text-bg-dark border border-0 rounded-0 mb-3">
          <img src="https://images.unsplash.com/photo-1571905302875-1f8616f63be5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80" alt="image" class="card-img">
          <div class="card-img-overlay">
            <h4 style="margin-top: 5.5rem;">Gurus</h4>
          </div>
        </div>
      </div>
  
      <div class="col-lg-6">
        <div class="card text-bg-dark border border-0 rounded-0 mb-3">
          <img src="https://images.unsplash.com/photo-1504711434969-e33886168f5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="image" class="card-img">
          <div class="card-img-overlay">
            <h4 style="margin-top: 5.5rem;">iMedia</h4>
          </div>
        </div>
      </div>
  
      <div class="col-lg-6">
        <div class="card text-bg-dark border border-0 rounded-0 mb-3">
          <img src="https://images.unsplash.com/photo-1560421683-6856ea585c78?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80" alt="image" class="card-img">
          <div class="card-img-overlay">
            <h4 style="margin-top: 5.5rem;">Creative Eye</h4>
          </div>
        </div>
      </div>
  
      <div class="col-lg-6">
        <div class="card text-bg-dark border border-0 rounded-0 mb-3">
          <img src="https://images.unsplash.com/photo-1551710029-607e06bd45ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="image" class="card-img">
          <div class="card-img-overlay">
            <h4 style="margin-top: 5.5rem;">Khan Studio</h4>
          </div>
        </div>
      </div>
  
      <div class="col-lg-6">
        <div class="card text-bg-dark border border-0 rounded-0 mb-3">
          <img src="https://images.unsplash.com/photo-1557200134-90327ee9fafa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="image" class="card-img">
          <div class="card-img-overlay">
            <h4 style="margin-top: 5.5rem;">Gmail</h4>
          </div>
        </div>
      </div>
    
  
    </div>
  
  
    <hr />
  </div>